<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Códigos</title>
</head>
<body>
    <h1>Recebendo Váriaveis do Python</h1>
    <p><b>Nome:</b>{{nome}}</p>
    <p><b>Cálculo da idade: </b>Nasceu em: [{{ano_nascimento}}] e tem: {{idade}} anos</p>
    <p><b>Você terá 50 anos em:</b>{{ano_nascimento + 50}}</p>

    <h1>Filtros de texto</h1>
    <p>Deixando o texto em maiusculas: {{ texto|upper }}</p>
    <p>Deixando o texto truncado {{ texto|truncate(15) }}</p>
    
    <h1>Usando IF & ELSE</h1>
    {% if ativo == True %}
    <p style="color: green;">ATIVO</p>
    {% elif ativo == 'erro' %}
    <p style="color: red ;">ERRO</p>
    {% else %}
    <p style="color: yellow;">INATIVO</p>
    {% endif %}

    <h1>FOR</h1>
    {# loop.index: número da iteração atual (começa em 1) #}
    <ul>
        {% for user in pessoas %}
        <li>[{{loop.index}}] - {{user}} </li>
        {% endfor %}
    </ul>

</body>
</html>